@font-face {
  font-family: "font-reg";
  src: url("../../fonts/variableblack-webfont.woff2") format("woff2"),
    url("../../fonts/variableblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-thin";
  src: url("../../fonts/variable-bold-webfont.woff2") format("woff2"),
    url("../../fonts/variable-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "font-reg";
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5rem;
  width: 1rem;
}
